*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-aesthetic {
  background-image: url('https://tse2.mm.bing.net/th?id=OIP.xbCiqkLPzjTe005_wUAc8QHaEK&pid=Api&P=0&h=180'); /* Replace 'path/to/aesthetic-bg.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
}


.hidden-scroll::-webkit-scrollbar{
 display: none;
}

@keyframes border-rotate {
  0%, 100% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
}

.group-hover\:border-rotate:hover {
  animation: border-rotate 3s ease-in-out infinite;
}



/* Rombel.css */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* .custom-cursor {
  cursor: url('./assets/react.svg'),auto;
} */